@tailwind base;
@tailwind components;
@tailwind utilities;
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343a40; /* Dark background */
  color: white;
  padding: 10px 20px;
}

.header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header nav ul li {
  display: inline;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.header .user-info {
  margin-left: auto;
}

.header .logout-btn {
  background-color: #dc3545; /* Bootstrap danger color */
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
